.ser-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
}
.Services{
    margin-top: 50px;
}
.box{
    width: 280px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    /* border: 0.1px solid black; */
    margin: 12px 5px;
    transition: 0.5s;
    /* 0 rgba(0, 0, 0, 0.5) */
}
.box:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.servicesTitle{
   font-size: 2.5rem;
   font-weight: 600;
   padding-top: 25px;
}